<!DOCTYPE html>
<html>
  <head>
    <title>TakeMeHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script type="text/javascript">
      window.brentURL = "<%= image_url('large-home.jpg') %>"
    </script>

    <script type="text/javascript">
      window.artURL = "<%= image_url('art.jpg') %>"
    </script>

    <script type="text/javascript">
      window.intURL = "<%= image_url('int.jpg') %>"
    </script>

    <script type="text/javascript">
      window.kitURL = "<%= image_url('kit.jpg') %>"
    </script>

    <script type="text/javascript">
      window.art1URL = "<%= image_url('art1.jpg') %>"
    </script>

    <script type="text/javascript">
      window.int1URL = "<%= image_url('int1.jpg') %>"
    </script>

    <script type="text/javascript">
      window.int2URL = "<%= image_url('int2.jpg') %>"
    </script>
    
    <script type="text/javascript">
      window.int3URL = "<%= image_url('int3.jpg') %>"
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
